{% extends 'base.html'%}
{% block content %}
<div class="about">
  <h1>About</h1>
  <hr />
  <h2>О сайте.</h2>
  <p>Этот сайт показывается полученные метеорологические данные о погоде в разных населенных пунктах Республики Башкортостан.
  Отображаются только те населенные пункты от которых получены данные.</p>
  <hr />
  <h2>Что означают данные?</h2>
  <p><strong><em>Update date 1 января 2017 г. 23:00</em></strong></p>
  <blockquote>
  <p>Дата и время когда были получены актуальные данные
  </p>
  </blockquote>
  <table>
  <tbody>
  <tr>
  <td>название населенного пункта</td>
  <td>температура в данной местности</td>
  <td>направление ветра, скорость м/с</td>
  <td>атмосферное давление миллиметры ртутного столба</td>
  <td>влажность воздуха в процентах</td>
  </tr>
  </tbody>
  </table>
  <hr />
  <h2>От автора.</h2>
  <p>Сайт написан на языке <em>python 3.5</em></br>
  Фреймворк <em>Django 1.10</em></br>
  Данные предоставлены сайтом <a href="https://openweathermap.org/">openweathermap.org/</a></br>
  </p>
  <p><a href="https://github.com/reef425">ссылка на репозиторий</a></p>
  <hr />
  <a style="" href="/">Home</a>
</div>
{% endblock%}
